/* 
    Document   : Infoway Language RTL
    Created on : March 6, 2013, 6:33:12 PM
    Author     : Inkthemes
    Description: Language RTL
       
*/

h1, h2, h3, h4, h5, h6 {
	text-align: right;
}
ol {
	direction:rtl;
}
ol li {
	list-style:decimal;
}
ul {
	direction:rtl;
}
ul li {
	margin-left:0;
}
.topinfobar {
}
div.grid_5.alpha {
	float:right;
}

.socialicon{
	margin-right:-30px;
}
ul.social_logos {
	padding:0;
	margin-right:0;
	overflow:hidden;
	margin-left:44px;
	margin-top:8px;
}
.social_logos li {
	margin-top:0;
	
}
div.grid_2.omega {
	float:left;
}
.closeicon {
	margin: 0;
	position:absolute;
	left:6px;
	top:5px;
}
.siteinfourl {
	position:absolute;
	top:0;
	left:40px;
}
div.grid_15 {
	float:right;
}
.topinfobar div.info {
	margin-left: 0px;
}
.topinfobar div.info p {
	margin-top: 0;
	margin-left:0;
}
.logo {
	float:right;
}
.header .contactinfo {
	margin: 0;
	margin-top: 20px;
	float: left;
	clear:both;
}
#menu .ddsmoothmenu li {
	float:right;
	background-position:left;
}
#menu .ddsmoothmenu {
	float:right;
}
/* slider */
#featured li.ui-tabs-nav-item {
	width: 269px;
	display: block;
	vertical-align: middle;
}
#featured li.ui-tabs-nav-item a {
	padding-right: 20px;
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a {
	padding-right: 20px;
}
div.grid_12.omega {
	float:left;
}
div.grid_12.alpha {
	float:right;
}
div.grid_16.alpha {
	float:right;
}
div.grid_8.omega {
	float:left;
}
.feturebox .featurebox_inner {
	padding-left: 10px;
}
#carousel-full {
	padding-left:10px;
}

#carousel-full {
margin: 0;
margin-right: 0px;
}

#carousel-full .carousel-posts h6 {
text-align: center;
}
/*Signup Form*/

signupForm .signinForm input[type="text"], .signupForm .signinForm input[type="email"] {
	text-align:right;
}
.signupForm .signinForm input[type="text"], .signupForm .signinForm input[type="email"] {
	text-align:right;
}
.signupForm .signinForm #comments {
	text-align:right;
	width:243px;
	padding-right:20px;
}

signupForm .signinForm .checkpanel {
float: right;
}
.signupForm .signinForm label.cname {
float:right;
display:block;
display:block !important;

}
.signupForm .signinForm .checkpanel input#chkbox {
float:right;
display:inline !important;

}

.signupForm .signinForm .radiopanel {
float:right;
}


.signupForm .signinForm label.rname {
float:right;
display:block !important;
}

signupForm .signinForm .radiopanel input#radiobox {
display:inline !important;
}

.signupForm .signinForm .catchapanel {
float:right;
}





/* Sidebar */
.sidebar {
	padding-left:0;
}
.sidebar ul li {
	background-position:right;
	padding-right: 20px;
}
.sidebar ul li:hover {
	background-position:right;
}
.sidebar h3 {
	width: 94%;
}

/* Blog Page */
.content-bar .post {
	width: 100%;
}
.content-bar .post .box {
	margin:0;
	padding:0;
	float: right;
	margin-left:20px;
}
.content-bar .post .post_title {
	text-align: right;
}
.content-bar .post .post_content p {
	float:right;
	text-align:right;
}
.content-bar .post .box ul.post_meta {
	margin:0;
	padding:0;
	float:right;
	margin-right:5px;
	direction:rtl;
	text-align:right;
}
.content-bar .post.single .post_meta li {
	display:inline;
}
.content-bar .post .post_meta li {
	display:inline;
}
.content-bar .post .post_meta li.post_date {
	margin:0;
	padding:0;
	height:12px;
	background-position:right;
	padding-right:0px;
	clear:both;
	background:none;
}
.content-bar .post.single .post_meta .post_date {
	background-position:right;
	padding-right:10px;
}
.content-bar .post .post_meta .post_comment {
	width:20px;
	height:14px;
	background-position:right;
	padding-right:20px;
	padding-left:20px;
}
.content-bar .post.single .post_meta .posted_by {
	padding:0;
	background-position:right;
	padding-right:25px;
}
.content-bar .post .post_meta .posted_by {
	margin:0;
	padding:0;
	width:20px;
	height:20px;
	background-position:right;
	padding-right:18px;
}
.content-bar .post.single .post_meta .posted_by {
	padding-left:17px;
}
.content-bar .post.single .post_meta .posted_by a {
	padding-right: 15px;
}
.content-bar .post .post_meta .post_category {
	margin:0;
	padding:0;
	width:20px;
	height:20px;
	background-position:right;
	padding-right:10px;
}
.content-bar .post.single .post_meta .post_category {
	padding-left:17px;
	background-position:right;
	padding-right:18px;
}
.content-bar .post.single .post_meta .post_comment {
	margin:0;
	padding:0;
	width:20px;
	height:20px;
	background-position:right;
	padding-right:10px;
}
.content-bar .post .tag {
	margin-bottom:10px;
	margin-top:10px;
}
.content-bar .post .post_content .read_more {
	float:right;
	bottom:40px;
	text-shadow:none;
	clear:both;
}
/* Comment Form */

#commentsbox {
	margin: 0;
	width: 98%;
}
.post-info {
	float: right;
	clear: both;
	display: block;
}
#respond label {
	float: right;
	clear: both;
}
#respond input[type='text'] {
	margin-left: 202px;
	text-align:right;
}
textarea#comment {
	margin-left: 17px;
	text-align:right;
	padding-right:10px;
	padding-top:10px;
}
textarea#comment {
	width: 95%;
}
#commentform input#submit {
	float: right;
}
ol.commentlist li.comment .comment-author a:link, ol.commentlist li.comment .comment-author a:visited {
	margin-right: 50px;
}

cite.fn {
padding-right: 150px;
}

ol.commentlist li.comment .comment-body {
padding-right: 30px;
}


/* Contact Form*/
#contactForm label {
	float: right;
	margin-right:50px;
	clear:both;
}
#contactForm input[type="text"], #contactForm input[type="email"] {
	text-align: right;
	float:right;
	clear:both;
	margin-right:50px;
}
#contactForm input[type="submit"] {
	float: right;
	margin-right:50px;
}
#contactForm textarea {
	width: 90%;
	padding-right:10px;
}
#contactForm textarea {
	text-align:right;
}
.page-heading {
	padding-right: 10px;
}
/*Fullwidth page */
.fullwidth p {
	text-align: right;
	width:99%;
}
.fullwidth h1, .fullwidth h2, .fullwidth h3, .fullwidth h4, .fullwidth h5, .fullwidth h6 {
	margin-right:10px;
}

.content-bar.sample {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: right;
}


/* testimonial */
.testimonial {
	float:right;
}
.testimonial h2 {
	width: 97%;
}
.testimonial p {
	padding-left:0;
	background-position:right;
	margin-right:50px;
	padding-right:70px;
	width:90%;
}



/*Footer */
.footer p {
	text-align: right;
}
.searchform input[type="text"] {
	text-align: right;
}

div.grid_10.alpha{
	float:right;
}

div.grid_14.omega{
	float:left;
}

.footer-bottom .copyright_right {
	margin: 0;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Media screen */
@media only screen and (min-width: 767px) and (max-width: 960px) {
/* Topinfobar */

.socialicon{
	margin-right:-15px;
}
ul.social_logos {
	padding:0;
	margin-right:0;
	overflow:hidden;
	margin-left:44px;
	margin-top:8px;
}

.topinfobar .socialicon {
	 text-align: center;
	 margin-left: 0px;
	 margin-top: 0px;
}
.topinfobar .siteinfourl p {
	 margin-top: 10px;
	 padding-right: 25px;
	 margin-left:60px;
}
.siteinfourl {
	 position:absolute;
	 top:0;
	 left:10px;
}
.topinfobar div.info {
	 margin-left: 100px;
}
#featured ul.ui-tabs-nav {
	 overflow: scroll;
	 overflow:hidden
}
.fullwidth p {
	 text-align: right;
	 width:99%;
}
.fullwidth h1, .fullwidth h2, .fullwidth h3, .fullwidth h4, .fullwidth h5, .fullwidth h6 {
	 margin-right:10px;
}

.content-bar.sample {
	margin: 0;
	padding: 0;
	width: 99%;
	text-align: right;
}

/* signup*/
.signupForm .signinForm #uname {
	text-align:right;
	padding-left: 0;
	width: 170px !important;
}
.signupForm .signinForm input[type="text"], .signupForm .signinForm input[type="email"] {
	text-align:right;
	padding-left: 0;
	width: 170px !important;
}
.signupForm .signinForm #comments {
	text-align:right;
	width:170px;
	padding-right:20px;
	padding-left: 0px;
}

/* Comment form*/
#commentsbox {
	margin: 0;
	width: 92%;
}
#respond input[type='text'] {
	margin-left: 143px;
	text-align: right;
}
#carousel-full {
	margin: 0;
	margin-right: 0px;
	overflow:hidden;
}


}
@media only screen and (max-width: 767px) and (min-width: 480px) {
/* Topinfobar */
.topinfobar .socialicon {
	 text-align: center;
	 margin-left: 140px;
	 margin-top: 50px;
}
.topinfobar .siteinfourl p {
	 margin-top: 10px;
	 padding-right: 25px;
}
.siteinfourl {
	 position:absolute;
	 top:0;
	 left:10px;
}
.testimonial p {
 	width: 70%;
}

/*header*/
.header .contactinfo {
	 margin: 0;
	 margin-bottom: 20px;
	 margin-left:100px;
}
 .header .logo img {
 	margin-right: 100px;
}
 .feturebox .featurebox_inner .featurebox_desc h2 {
 	margin-right: 20px;
}
 .fullwidth p {
	 text-align: right;
	 width:93%;
}
.fullwidth h1, .fullwidth h2, .fullwidth h3, .fullwidth h4, .fullwidth h5, .fullwidth h6 {
 	margin-right:10px;
}
.footer .footer_widget.third {
 	padding-right:40px;
}
.footer .footer_widget.last {
	 margin:0;
	 padding:0;
	 margin-left:15px;
	 padding-right:25px;
}

signupForm .signinForm #uname {
text-align:right;
}
signupForm .signinForm input[type="text"], .signupForm .signinForm input[type="email"] {
	text-align:right;
	
}
.signupForm .signinForm input[type="text"], .signupForm .signinForm input[type="email"] {
	text-align:right;
	
}
.signupForm .signinForm #comments {
	text-align:right;
	width:243px;
	padding-right:20px;

}

#carousel-full {
	margin: 0;
	margin-right: 20px;
	margin-left: 30px;
	overflow:hidden;
}
}
 @media only screen and (max-width: 480px) {
 
 /* Topinfobar */
.topinfobar .socialicon {
	 text-align: center;
	 margin-left: 40px;
	 margin-top: 50px;
}
.topinfobar .siteinfourl p {
	 margin-top: 10px;
	 padding-right: 25px;
}
.siteinfourl {
	 position:absolute;
	 top:0;
	 left:10px;
}
 .header .contactinfo {
	 margin: 0;
	 margin-bottom: 20px;
}
.feturebox .featurebox_inner .featurebox_desc h2 {
 	margin-right: 20px;
}
 .testimonial p {
 	width: 70%;
}
.fullwidth p {
	 text-align: right;
	 width:91%;
}
.fullwidth h1, .fullwidth h2, .fullwidth h3, .fullwidth h4, .fullwidth h5, .fullwidth h6 {
	 margin-right:10px;
}
 .content-bar .post .post_title {
	 margin-right: 0;
}
 .sidebar {
	 margin-left: 40px;
}

/* Comment Form */
#respond input[type='text'] {
	 margin-left: 82px;
	 text-align: right;
}
textarea#comment {
 	width: 88%;
}

cite.fn {
	padding-right:30px;
}

 ol.commentlist li.comment .comment-meta a {
	 position: absolute;
	 top:25px;
	 left: 10px;
}

/*Contact page*/
#contactForm label {
	 float: right;
	 margin-right: 20px;
	 clear: both;
}
#contactForm input[type="text"], #contactForm input[type="email"] {
	 text-align: right;
	 float: right;
	 clear: both;
	 margin-right: 15px;
}
#contactForm input[type="submit"] {
	 float: right;
	 margin-right: 15px;
}
 div.side-search {
 	margin-right:0;
}

/*footer*/
.footer .footer_widget.third {
	 margin:0;
	 padding:0;
	 padding-right:35px;
}
.footer .footer_widget.last {
	 margin:0;
	 padding:0;
	 margin-left:15px;
	 padding-right:25px;
}

/*Signup Form*/
signupForm .signinForm input[type="text"], .signupForm .signinForm input[type="email"] {
	text-align:right;
}
.signupForm .signinForm input[type="text"], .signupForm .signinForm input[type="email"] {
	text-align:right;
}
.signupForm .signinForm #comments {
	text-align:right;
	width:243px;
	padding-right:20px;
}
#carousel-full {
	margin: 0;
	margin-right: 20px;
	overflow:hidden;
}
}
